{% extends "base.html" %}
{% block title %}房间列表{% end %}
{% block main %}

            <a class="button btn btn-warning" href="/game/newdesk">创建房间</a>
          <h2 class="sub-header">房间列表</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>房间id</th>
                  <th>房主</th>
                    <th>库存</th>
                    <th>玩家</th>
                    <th>记录</th>
                </tr>
              </thead>
              <tbody>
                {% for item in desks %}
                    <tr>
                        <td><a href="/game/deskdetail/{{ item.id}}">{{item.id}}</a></td>
                        <td>{{item.desk_id}}</td>
                        <td>{{ item.desk_owner }}</td>
                        <td>{{ item.desk_points }}  <a href="/game/updatedesk/{{ item.id}}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                        <td><a href="/game/deskdetail/{{ item.id}}"><span class="btn btn-danger btn-sm">玩家</span></a></td>

                        <td><a href="/game/deskrecord/{{ item.id}}"><span class="btn btn-primary btn-sm">记录</span></a></td>
                    </tr>
                {% end %}
              </tbody>
            </table>
          </div>
 {%end%}